# Which Platform Has the Best Movies? - Part 1: Data Cleaning

### This section will demonstrate cleaning a dataset. This dataset holds a comprehensive list of movies available on the steaming platforms: Netflix, Hulu, and Prime Video, and Disney+.
The dataset used is ["Movies on Netflix, Prime Video, Hulu and Disney+"](https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney).

In [110]:
#Import pandas
import pandas as pd

In [111]:
# Read CSV

Movie_Df = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")

#Display the first 5 elements
Movie_Df.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [112]:
# Show a summary of the dataframe

Movie_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

#### The first thing to note is that this dataset is missing values for a few columns. For this demonstation, we will focus on the missing values for the Rotten Tomatos and IMDb columns

In [113]:
# Drop the Null Values for the coulmns 'Rotten Tomatoes' and 'IMDb'

Movie_Df.dropna(subset=['Rotten Tomatoes', 'IMDb'], inplace= True)


Movie_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5156 entries, 0 to 16719
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5156 non-null   int64
 1   ID               5156 non-null   int64
 2   Title            5156 non-null   object
 3   Year             5156 non-null   int64
 4   Age              3371 non-null   object
 5   IMDb             5156 non-null   float64
 6   Rotten Tomatoes  5156 non-null   object
 7   Netflix          5156 non-null   int64
 8   Hulu             5156 non-null   int64
 9   Prime Video      5156 non-null   int64
 10  Disney+          5156 non-null   int64
 11  Type             5156 non-null   int64
 12  Directors        5050 non-null   object
 13  Genres           5151 non-null   object
 14  Country          5137 non-null   object
 15  Language         5109 non-null   object
 16  Runtime          5120 non-null   float64
dtypes: float64(2), int64(8), object(7)
memory usage: 725.1+ KB

#### For this analysis, I would like to take the average scores from both 'Rotten Tomatoes' and 'IMDb'. We will run into alot of problems trying to do this because 'Rotten Tomatoes' has a data type of object, which means it is string. This can not stand! We must convert this to a float at once!

In [114]:
# First we have to get rid of the percent signs in the column then we can change data type to a float
Movie_Df['Rotten Tomatoes'] = Movie_Df['Rotten Tomatoes'].str.replace('%', '').astype(float) 


# Let's see if the column type has been updated
Movie_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5156 entries, 0 to 16719
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5156 non-null   int64
 1   ID               5156 non-null   int64
 2   Title            5156 non-null   object
 3   Year             5156 non-null   int64
 4   Age              3371 non-null   object
 5   IMDb             5156 non-null   float64
 6   Rotten Tomatoes  5156 non-null   float64
 7   Netflix          5156 non-null   int64
 8   Hulu             5156 non-null   int64
 9   Prime Video      5156 non-null   int64
 10  Disney+          5156 non-null   int64
 11  Type             5156 non-null   int64
 12  Directors        5050 non-null   object
 13  Genres           5151 non-null   object
 14  Country          5137 non-null   object
 15  Language         5109 non-null   object
 16  Runtime          5120 non-null   float64
dtypes: float64(3), int64(8), object(6)
memory usage: 725.1+ KB

In [115]:
# Now let's take a look back at our table
Movie_Df.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87.0,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87.0,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84.0,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96.0,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97.0,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

#### We have one more thing that we need to fix on our dataframe before we can move on to the next section. Our dataframe has TWO too many indices. Let's narrow that down to one

In [116]:
# Drop the extra unnamed column and set the ID as the index

Movie_Df.set_index('ID', inplace = True)
Movie_Df.drop('Unnamed: 0', axis=1, inplace = True)

# Let's see if there is only one index now
Movie_Df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
ID,,,,,,,,,,,,,,,
1,Inception,2010,13+,8.8,87.0,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
2,The Matrix,1999,18+,8.7,87.0,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
3,Avengers: Infinity War,2018,13+,8.5,84.0,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
4,Back to the Future,1985,7+,8.5,96.0,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,"The Good, the Bad and the Ugly",1966,18+,8.8,97.0,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

#### It's time to wrap it up and save our new dataframe for next time

In [117]:
# Writes to a new CSV File
Movie_Df.to_csv("MoviesOnStreamingPlatforms_Cleaned.csv")

### That's all for part one - Data Cleaning. Look at for part two as we take a deeper dive into the data